<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=1, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel='icon' href='/images/weather.png'>
       <link type="text/css" href="/css/styles.css" rel='stylesheet' />
    
       <title>Weather App</title>
    </head>
    <body>
        <div class='main-content'>
        {{>header}}
        {{!-- <h2>{{name}}</h2> --}}
        <p>Use this site to get your weather</p>
        <form>
            <input placeholder="location"/><button>Search...</button>
        </form>
        <p id='message-i'></p>
        <p id='message-2'></p>
  </div>
  {{>footer}}
 </body>
    <script src="/js/index.js"></script>
</html>

